@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins" sans-serif;
}
.navbar {
  height: 5rem;
  position: fixed;
}
hr {
  size: 300px;
}

.presentacion {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  align-items: center;
  background-color: rgba(175, 23, 235, 0.842);
  border-radius: 30px;
  padding: 15px;
  margin-top: 130px;
}
.titu {
  font-size: 60px;
  color: rgba(249, 242, 253, 0.842);
}

.subt {
  font-size: 40px;
  color: rgb(254, 254, 254);
}

.foto-doctora {
  size: 50%;
}

.texto-descriptivo {
  border-radius: 30px;

  padding: 3%;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(175, 23, 235, 0.842);
}
.card-title {
  min-height: 3 rem;
}

.card-text {
  min-height: 6rem;
}

.respuestas {
  border: 1px solid black;
  padding: 3px;
}

.contact-panel {
  border: 1px solid rgb(232, 232, 232, 0.5);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(175, 23, 235, 0.842);
  padding: 15px;
}

.mensaje {
  height: 150px;
  width: 500px;
}

.cajitamensaje {
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
}
